@page "/"

<PageTitle>Index</PageTitle>

<h1 data-cy="title">Hello, world!</h1>

<span data-cy="message">Welcome to your new app.</span>

<div class="container-one">
    <ul data-cy="list">
        <li data-cy="list-element-1">1</li>
        <li data-cy="list-element-2">2</li>
        <li data-cy="list-element-3">3</li>
    </ul>
</div>
<div class="container-two">
    
</div>


<SurveyPrompt Title="How is Blazor working for you?"/>