@using On.Reconciliation.Models.ViewModels
@using System.Globalization
@code {
    [Parameter]
    public StatementViewModel? Data { get; set; }
    private CultureInfo norwegian = CultureInfo.CreateSpecificCulture("nb-NO");

    protected override Task OnInitializedAsync()
    {
        norwegian.NumberFormat.CurrencyDecimalSeparator = ",";
        norwegian.NumberFormat.CurrencyGroupSeparator = " ";
        norwegian.NumberFormat.CurrencySymbol = "kr ";
        return Task.CompletedTask;
    }

}

<div class="p-4 flex rounded-l">
    @if (Data.GeneralLedgerId == null)
    {
        <span class="right">⚠️</span>
    }
    <div class="flex-none">@Data.Amount?.ToString("C2", norwegian)</div>
    <div class="grow statement-description">@Data.Description</div>
</div>

<style>
    .container {
        border-top-right-radius: 1em;
        border-bottom-left-radius: 1em;
        background-color: lightgray;
    }
    
    .right {
        float:  right;
    }
</style>