@using On.Reconciliation.Models.ViewModels
@inject HttpClient Http

<h2>Kontoer</h2>

@{
    if (accounts == null)
    {
        <p><em>Laster...</em></p>
    }
    else
    {
        foreach (var account in accounts)
        {
            <div class="overview-container">
                <em>@account.BankAccount</em>
                @account.Entries.Count (<span class="by-rule">@account.Entries.Count(x => x.RuleId != null)</span> <span class="missing">@account.Entries.Count(x => x.GeneralLedgerId == null)</span>)
            </div>
        }
    }
}

@code {
    private AccountOverviewViewModel[]? accounts;

    protected override async Task OnInitializedAsync()
    {
        accounts = (await Http.GetFromJsonAsync<AccountOverviewViewModel[]>("http://"))?
            .ToArray();
    }
}


<style>
    h2 {
        color:  white;
    }
    
    .overview-container {
        border: 1px solid grey;
        border-radius: 0.5em;
    }
    
    .overview-container:hover {
        background-color: lightblue;
        border-color: purple;
    }
    
    .by-rule {
        color: darkgreen;
    }
    
    .missing {
        color: red;
        font-weight: bold;
    }    
</style>