@using On.Reconciliation.Models.ViewModels
@inject HttpClient Http

<h2>Kontoer</h2>

@{
    if (rules == null)
    {
        <p><em>Laster...</em></p>
    }
    else
    {
        foreach (var account in rules)
        {
            <Account Data=@account />
        }
    }
}

@code {
    private RuleViewModel[]? rules;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(500);
        rules = (await Http.GetFromJsonAsync<RuleViewModel[]>("sample-data/accounts.json"))?
            .ToArray();
    }
}


<style>
    h2 {
        color:  white;
    }
</style>