@code {
    [Parameter]
    public Models.ViewModels.StatementViewModel? Data { get; set; }
}

<div class="statement-container @Data.Status.ToString()">
    <div>@Data.Date?.ToString("dd. MMM yyyy")</div>
    <div>@Data.Amount</div>
    <div class="statement-description">@Data.Description</div>
</div>

<style>
    .statement-container {
        border-top-right-radius: 1em;
        border-bottom-left-radius: 1em;
        background-color: lightgray;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0.5em;
        padding: 0.2em 1em;
        height: 75px;
    }
    
    .Unknown {
        background-color: lightgray;
    }
    
    .Unmatched {
        background-color: #f33;
    }
    
    .IsInBook {
        background-color: forestgreen;
    }
    
    .BookedByRule {
        background-color: slateblue;
    }
</style>